<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true"
	scanPeriod="10 seconds">
	
	<property name="LOG_HOME" value="target/logs" />

	<property name="encoding" value="UTF-8" />

	<property name="maxSize" value="10MB" />

	<property name="defaultFileName" value="default" />

	<property name="pattern" value="[%d{yyyy/MM/dd HH:mm:ss.SSS}] [%thread] %-5level %logger{50}[%line] - %msg%n" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
        	<pattern>${pattern}</pattern>
        	<charset>${encoding}</charset>
        </encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_HOME}/myLog.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%line] %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 按照每天生成日志文件 -->
    <appender name="ROLLINGFILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>1</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <!--日志文件最大的大小-->
       <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <MaxFileSize>10MB</MaxFileSize>
       </triggeringPolicy>
    </appender>
	

	<logger name="org.springframework" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="bear" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
<!-- 		<appender-ref ref="FILE" /> -->
	</logger>

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
<!-- 		<appender-ref ref="FILE" /> -->
	</root>

</configuration>
